[user]
	name = sly
	email = sylvester@archis.company

[push]
	autoSetupRemote = true
	autoSetupRemote = false
	autoSetupRemote = true

[diff]
    colorMoved = default
    
[init]
	defaultBranch = master
[core]
	editor = nvim
